html {
	scroll-behavior: smooth;
}

body {
	text-align: center;
}

.content {
	width: min(100%, 950px);
	margin: 0 auto;
}

.content-outer {
	width: min(100%, 1000px);
	margin: 0 auto;
}

.container {
	padding: var(--spacing-large) var(--spacing-small);
}

#hero {
	background: linear-gradient(180deg, var(--blue), var(--blue-dark));
	color: var(--white) !important;
	fill: var(--white) !important;
}

#hero .container {
	padding-top: var(--spacing-normal);
}

header {
	padding: var(--spacing-big) var(--spacing-small);
}

header .content-outer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	display: flex;
	align-items: center;

	color: var(--white);
	font-size: 1.5rem;
	font-weight: var(--text-bolder);
}

header .logo img {
	height: 5rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

header ul {
	list-style: none;
}

header ul li {
	display: inline-block;
	margin-left: 2rem;
}

header ul li a {
	color: var(--white);
	opacity: 0.8;
	transition: opacity 0.15s ease-in-out;
}

header ul li a:hover {
	opacity: 1;
}

@media screen and (max-width: 650px) {
	header .content-outer {
		display: block;
	}

	header .logo {
		justify-content: center;
		margin-bottom: var(--spacing-tiny);
	}

	header ul li {
		margin: 0 1rem;
	}

	#hero .container {
		padding-top: 0;
	}
}

.title h2 {
	font-size: 3rem;
	font-weight: var(--text-boldest);
}

.title h2 span {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.title p {
	font-size: 2rem;
	opacity: 0.7;
}

.description {
	margin-bottom: var(--spacing-small);
}

@media screen and (max-width: 650px) {
	.title h2 {
		font-size: 2rem;
	}

	.title p {
		font-size: 1.4rem;
	}
}

.image {
	width: min(100%, 700px);
	padding: 20% 0;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	border-radius: 2rem;
	overflow: hidden;
	margin: var(--spacing-big) auto 0;
}

.image p {
	opacity: 0.5;
}

.button {
	color: var(--blue);
	background: var(--white);
	font-size: 1.1rem;
	font-weight: var(--text-bold);
	cursor: pointer;

	display: inline-flex;
	align-items: center;

	padding: 0.5rem 1rem;
	border-radius: 999px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	transition: all 0.1s ease-in-out;
}

.button:hover {
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3),
		0 0 15px rgba(255, 255, 255, 0.5);
	filter: brightness(115%);
}

.button svg {
	fill: var(--blue);
	height: 1.1rem;
	margin-left: 0.5rem;
}

#about {
	background: var(--gray-dark);
	color: var(--white) !important;
	fill: var(--white) !important;
}

#products {
	background: var(--white);
	color: var(--gray-dark) !important;
	fill: var(--gray-dark) !important;
}

.subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--spacing-normal);
}

.subtitle h3 {
	font-size: 2rem;
	font-weight: var(--text-bolder);
}

.subtitle svg {
	height: 2rem;
	margin-right: 0.5rem;
}

@media screen and (max-width: 650px) {
	.subtitle h3 {
		font-size: 1.7rem;
	}
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-small);
}

.about-main {
	flex-shrink: 2;
	text-align: justify;
	text-wrap: wrap;
}

.about-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-small);
}

.about-card svg {
	height: 2rem;
}

.about-card h4 {
	text-wrap: nowrap;
	font-size: 1.25rem;
	font-weight: var(--text-bolder);
}

@media screen and (max-width: 800px) {
	.about {
		flex-wrap: wrap;
	}

	.about-main {
		text-align: center;
	}
}

.product-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
}

.product-card {
	width: 100%;
	height: 30rem;

	color: var(--white);
	background: var(--gray-dark);

	padding: 1rem;
	border-radius: 1.5rem;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2),
		0 0 10px rgba(255, 255, 255, 0.1) inset;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	transition: all 0.1s ease-in-out;
}

/* .product-card:hover {
	box-shadow:
		0 0 0 3px rgba(0, 0, 0, 0.3),
		0 0 10px rgba(255, 255, 255, 0.2) inset;
	scale: 1.02;
} */

.product-card h4 {
	font-size: 1.5rem;
	font-weight: var(--text-bolder);
	line-height: 1.5rem;
}

.product-card-image-placeholder {
	width: 100%;
	height: 100%;

	padding: 1rem;
	border: 1px dashed rgba(255, 255, 255, 0.25);
	border-radius: 2rem;
	margin: 2rem 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card-image-placeholder:after {
	content: 'Placeholder';
	opacity: 0.5;
}

.product-card-button {
	width: 100%;
	color: var(--gray-dark);
	background: var(--white);
	font-size: 1.1rem;
	font-weight: var(--text-bold);
	cursor: pointer;

	padding: 0.5rem 1rem;
	border-radius: 999px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	transition: all 0.1s ease-in-out;
}

.product-card-button:not(.product-card-button-disabled):hover {
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3),
		0 0 15px rgba(255, 255, 255, 0.5);
	filter: brightness(115%);
}

.product-card-button-disabled {
	color: #aaa;
	background: var(--gray-dark);
}

@media screen and (max-width: 800px) {
	.product-cards {
		flex-wrap: wrap;
	}
}

#footer {
	background: var(--black);
	color: var(--white-dark) !important;
	fill: var(--white) !important;
}

#footer .container {
	padding-top: var(--spacing-normal);
	padding-bottom: var(--spacing-normal);
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: start;
}

.footer-split {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	text-align: left;
}

.footer-split a {
	color: var(--white);
}

.footer-split h4 {
	color: var(--white);
	font-size: 1.25rem;
	font-weight: var(--text-bolder);
}

.footer-split ul {
	list-style: none;
}

.footer-split ul li {
	display: flex;
	justify-content: start;
	align-items: center;
}

.footer-split ul li svg {
	width: 1rem;
	height: 1rem;
	margin: 0 0.5rem;
}

.footer-subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-subtitle svg {
	height: 1.25rem;
	margin-right: 0.5rem;
}

