@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--blue: #193a79;
	--blue-light: #53a7df;
	--blue-dark: #16336a;

	--purple: #573cb9;
	--purple-light: #6e56c8;
	--purple-dark: #473198;

	--red: #ef233c;
	--green: #94fbab;
	--yellow: #fdca40;

	--white: #f0f4ef;
	--white-dark: #c2c7c1;
	--gray: #342e37;
	--gray-dark: #312f2f;
	--black: #1b1b1e;

	--text-light: 300;
	--text-regular: 400;
	--text-bold: 500;
	--text-bolder: 600;
	--text-boldest: 700;

	--spacing-tiny: 1rem;
	--spacing-small: 2rem;
	--spacing-normal: 3rem;
	--spacing-big: 4rem;
	--spacing-large: 8rem;
}

@media screen and (max-width: 650px) {
	:root {
		--spacing-big: 3.5rem;
		--spacing-large: 6rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
}
